{% extends 'base.html'%}
{% load static %}
{% static "images" as baseUrl%}


{% block content%}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_1.jpg'%});" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-start">
      <div class="col-md-9 ftco-animate pb-5">
       <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="{% url 'blog'%}">Blog <i class="fa fa-chevron-right"></i></a></span> <span> All Blogs<i class="fa fa-chevron-right"></i></span></p>
       <h1 class="mb-3 bread">All Blogs </h1>
     </div>
   </div>
 </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-8 ftco-animate">
        <h2 class="mb-3">{{blog.title}}</h2>
        
            <p>
              <a ><span class="fa fa-calendar mr-2"></span>{{blog.date}}</a>
              <a><span class="fa fa-user mr-2"></span>{{blog.author}}</a>
            </p>
          
        <p>
          <img src="{{blog.images.url}}" alt="" class="img-fluid" style="height:500px; width:800px; object-fit: cover;">
        </p>
        <p>{{blog.description}} </p>
        </div><br><br>
    
   

   <div class="col col-lg-4">
    
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">List of All Blogs</span>
        
      </h4>
      <ul class="list-group mb-3">
        
         {% for i in blogs %}
          <li class="list-group-item d-flex justify-content-between lh-condensed"><a href="{% url 'blogsingle' i.slug %}">
            {% if i.title == blog.title%}
            <div class="text-success">
            <h6 class="my-0">{{i.title}}</h6>
            <small><span class="fa fa-calendar mr-2"></span>{{i.date}}<span class="fa fa-user mr-2"></span>{{i.author}} </small>
          </div>
          {% else %}
          <div class="text-muted">
          <h6 class="my-0">{{i.title}}</h6>
          <small><span class="fa fa-calendar mr-2"></span>{{i.date}}<span class="fa fa-user mr-2"></span>{{i.author}} </small>
          </div>
          {%endif%}</a></li>
          {% endfor %}
        
      </ul>
  </div>
</div>

</section>
        <!-- .section -->


        
{% endblock %}



