{% extends 'base.html'%}
{% load static %}
{% static "images" as baseUrl%}

{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_1.jpg'%});" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-start">
      <div class="col-md-9 ftco-animate pb-5">
       <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span> <span>blog<i class="fa fa-chevron-right"></i></span></p>
       <h1 class="mb-3 bread">Recent Blogs</h1>
     </div>
   </div>
 </div>
</section>

<section class="ftco-section bg-light">
  <div class="container" >
    <div class="row d-flex">
      
      {% for i in blogs %}
      <div class="col-lg-4 ftco-animate">
        
        <div class="blog-entry">
          <a href="{% url 'blogsingle' i.slug %}" class="block-20" style="background-image: url({{i.images.url}});"> 
          </a>
          <div class="text d-block">
            <div class="meta">
              <p>
                <a ><span class="fa fa-calendar mr-2"></span>{{i.date}}</a>
                <a><span class="fa fa-user mr-2"></span>{{i.author}}</a>
              </p>
            </div>
            <h3 class="heading"><a >{{i.title}}</a></h3>
            <p>{{i.description|slice:":400"}}.....</p>
            <p><a href="{% url 'blogsingle' i.slug %}" class="btn btn-secondary py-2 px-3">Read more</a></p>
          </div>
        </div>
        
      </div>
      
      {%endfor%}

      
    </div>
</div>
</div>

</section>
{% endblock %}

